#Prettier will follow rules specified in .gitignore if it exists in the same directory from which it is run.

# Ignore artifacts:
dist
coverage
pnpm-lock.yaml
**/.git
# **/.svn
# **/.hg
**/node_modules